#Ignore all ds_store files
*.DS_Store

# built application files
*.apk
*.ap_
*.jar

# files for the dex VM
*.dex

# Java class files
*.class

#Android
AndroidUI/bin/
AndroidUI/gen/
AndroidUI/local.properties

DesktopUI/bin/
UITesterModel/bin/
